*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    }
  body{
  background-color: #203b70;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: right 50vw bottom 50vh,left 50vw top 50vh;
 
 
  
 }
  .main{
    max-width: 350px;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 12.5%; 
    overflow:hidden;
    background-color: white;
    border-radius: 10px;
  }
  .f{
    opacity: .18;
    position:absolute;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    width: 20%;
    margin-top: -30px;
    
    
 
  }
    .victor{
      position: relative;
      margin-top: -100px;
      margin-left: 15%;
      width: 200px;
      height: 200px;
      
    
  
    }
    .victor img{
      position: absolute;
      margin-top: -50px;
      margin-left: 5%;
      width: auto;
      height: auto;
      max-width: 250px;
      max-height: 240px;
      display: block;
     
    }
    #l{
      position: absolute;
      margin-top: -30px;
    
      
    
    }

    
    .nombre{
      border-bottom: 1px dashed #76777c;
     height: 55px;
      text-align: center;
      padding-top: -50px;/*8%*/
      text-transform: capitalize;
      font-size: 30px;
     
    
      
     
     
    }
    .nombre h1{
      display: inline;
      margin-top: -18%;
      margin-right: 5%;
      z-index: 30;
      
      
    }
    .nombre h3{
      display: inline;
      font-size: 18px;
      color: #76777c;
   
    }
    .nombre h2{
      margin-top: 1%;
      color: #76777c;
      padding-bottom: 2%;
      font-size: 15px;
      
    }
    .datos{
      display: flex;
      margin-top: 5%;
      
      
      
    }
    .datos h3{
      font-size: 18px;
    }
    .datos h3,h4{
      margin-left:50px;
      padding: 2%;
    }
    h4{
      color: #76777c;
      font-size: 12px;
    }
    .followers h4{
      margin-left: 45%;
    }
    .like h4{
      text-align: center;
    }
    .datos2{
      display: flex;
      margin-top: 80px;
      margin-left: -280px;
    }
    .photos2{
      margin-left: -40px;
      margin-right: 2vw;
    }
    .boton{
      width: 100px;
      height: 50px;
      border:1px groove  black;
      cursor: pointer;
      background-color: #41CBD3;
      margin-top: 3vh;
      border-radius: 10px;
      text-align: center;
      font-size: 3vh;
      text-decoration: none;
      box-shadow: -5px -5px   black  ;

    }
 
    
    .attribution { font-size: 11px; text-align: center;margin: 1%;}
    .attribution a { color: white; }


    /*movil*/
  